body
	background-color black
	color white
	font-family 'Press Start 2P', monospace;
	padding 0
	margin 0

	button
		border 1px solid lightgreen
		color lightgreen
		background-color black
		font-size 30px
		font-family inherit
		margin 10px
		padding 20px

	button:hover
		background-color lightgreen 
		color white
		cursor pointer
		animation rainbow .5s infinite

@keyframes rainbow
	0%
		background-color red
	14%
		background-color orange 
	28%
		background-color yellow
	42%
		background-color green
	56%
		background-color blue
	70%
		background-color indigo 
	84%
		background-color violet
	